<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css">
<%- include('../partials/nav') %>

<main>
<h1>All Flights as of <%= time %></h1>
<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight No.</th>
      <th>Departure Date/Time</th>
      <th>View Flight Details</th>
      <th>Delete Flight</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(flight => { %>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs.toISOString().slice(0,16) %></td>
      <td><a href="/flights/<%= flight._id %>"></a>DETAILS</td>
      <td>
        <form action="/flights/<%= flight._id %>?_method=DELETE" 
          method="post"
          >
          <button type="submit">🗑</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
</main>

<%- include('../partials/footer') %>
