<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Your Flight</button>
    </a>
    </div>
      <h2>Airline: <%= flight.airline %></h2>
      <h2>Airport: <%= flight.airport %></h2>
      <h2>FlightNo: <%= flight.flightNo %></h2>
      <h2>Departs: <%= flight.departs %></h2>
      
      <h3>Add Ticket</h3>
        <form 
          id="add-ticket-form" 
          action="/flights/<%= flight._id %>/tickets"
          method="POST"
          >
          <label for="seat-input">Seat:</label>
          <input type="text" name="seat" id="seat-input">
          <label for="price-input">Price:</label>
          <input type="text" name="price" id="price-input" required min="0">
          <button type="submit">Add Ticket</button>
        </form> 
      <ul>
        <% flight.tickets.forEach(ticket => { %>
        <li> Seat: <%= ticket.seat %> Price: $<%= ticket.price %></li>
      <% }) %>
      </ul> 
      <h3>Add a Meal:</h3>
      <ul>
        <% flight.meals.forEach(meal => { %>
          <li><%= meal.name %></li>
        <% }) %>
      </ul> 
      <form id="add-meal-to-flight" action="/flights/<%= flight._id %>/meals" method="POST">
        <select name="mealId">
          <% meals.forEach(meal => { %>
            <option value="<%= meal._id %>"><%= meal.name %></option>
          <% }) %>
        </select>
        <button type="submit">Add Meal to Flight</button>
      </form>      
  </section>
</main>

<%- include('../partials/footer') %>